/* Created by: Venika Sem
 * Created on: Mar 2022
 * This CSS file defines the style for index.html ICS2O-Assignment1-HTML
*/

body {
  background-color: #ffa07a;
}

.content {
  background-color: #ffebcd;
  color: #b8860b;
  font-family: Lato, sans-serif;
  max-width: 11.25in;
  margin: 0 auto;
  border: 0.03125in solid #d1a83b;
}

h1,
h2,
ul,
a p {
  text-align: center;
}

h1 {
  color: darkslategray;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.729167in;
  padding-top: 0.208333in;
}

h2 {
  color: lightcoral;
  font-size: 0.416667in;
  padding-top: 0.052083in;
}

li {
  color: darkslategray;
  display: inline-block;
  font-size: 0.260417in;
  padding: 0.104167in;
}

.main-pic {
  display: block;
  margin: 0 auto;
  border-radius: 0%;
  border: px solid #000;
}

blockquote {
  text-align: center;
  font-size: 0.229167in;
  font-family: "Indie Flower", cursive;
  margin: 0.520833in;
}

.noteworthy {
  color: saddlebrown;
  max-width: 7.916667in;
  padding: 0.208333in;
  margin: 0 auto;
  clear: both;
}

.tl-img {
  width: 2.083333in;
  height: 1.041667in;
  background-color: white;
  border: 0.020833in solid #6a5329;
  margin-right: 0.15625in;
  float: left;
  margin-top: 0.104167in;
}

.h3 {
  font-size: 0.260417in;
  padding-top: 0in;
  margin-top: 0in;
  margin-bottom: 0.052083in;
}

.description {
  font-size: 0.1875in;
  margin-top: 0in;
}

a p {
  color: #d1a83b;
  text-decoration: none;
  color: #6d5a40;
  margin: 0.208333in
}

a p:hover {
  font-size: 0.208333in;
}