/* Created by: Venika Sem
 * Created on: Mar 2022
 * This CSS file defines the style for index.html ICS2O-Assignment1-HTML
*/

body {
  background-color: #ffa07a;
}

.content {
  background-color: #ffebcd;
  color: #b8860b;
  font-family: Lato, sans-serif;
  max-width: 11.25in;
  margin: 0 auto;
  border: 0.0313in solid #d1a83b;
}

h1,
h2,
ul,
a p {
  text-align: center;
}

h1 {
  color: darkslategray;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.7292in;
  padding-top: 0.2083in;
}

h2 {
  color: lightcoral;
  font-size: 0.4167in;
  padding-top: 0.0521in;
}

li {
  color: darkslategray;
  display: inline-block;
  font-size: 0.2604in;
  padding: 0.1042in;
}

.main-pic {
  display: block;
  margin: 0 auto;
  border-radius: 0%;
  border: px solid #000;
}

blockquote {
  text-align: center;
  font-size: 0.2292in;
  font-family: "Indie Flower", cursive;
  margin: 0.5208in;
}

.noteworthy {
  color: saddlebrown;
  max-width: 7.9167in;
  padding: 0.2083in;
  margin: 0 auto;
  clear: both;
}

.tl-img {
  width: 2.0833in;
  height: 1.0417in;
  background-color: white;
  border: 0.0208in solid #6a5329;
  margin-right: 0.1563in;
  float: left;
  margin-top: 0.1042in;
}

.h3 {
  font-size: 0.2604in;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0.0521in;
}

.description {
  font-size: 0.1875in;
  margin-top: 0;
}

p {
  color: #d1a83b;
  text-decoration: none;
  margin: 0.2083in;
  font-size: 0.2083in;
}
